<div class="container mx-auto px-4 py-8 flex justify-center">
  <div class="p-6 rounded-lg shadow-md mx-auto">

    <div class="stats stats-vertical lg:stats-horizontal shadow">
      <div class="stat">
        <div class="stat-figure text-secondary">
          <span class="icon-[mdi-light--home] text-2xl">
            <i class="fa-solid fa-folder-open inline-block h-8 w-8 stroke-current"></i>
          </span>
        </div>
        <div class="stat-title">Downloads</div>
        <div class="stat-value">31K</div>
        <div class="stat-desc">Jan 1st - Feb 1st</div>
      </div>
      <div class="stat">
        <div class="stat-figure text-secondary">
          <span class="icon-[mdi-light--home] text-2xl">
            <i class="fa-solid fa-users inline-block stroke-current"></i>
          </span>
        </div>
        <div class="stat-title">New Users</div>
        <div class="stat-value">4,200</div>
        <div class="stat-desc">↗︎ 400 (22%)</div>
      </div>
      <div class="stat">
        <div class="stat-figure text-secondary">
          <span class="icon-[mdi-light--home] text-2xl">
            <i class="fa-solid fa-envelope-open-text"></i>
          </span>
        </div>
        <div class="stat-title">New Registers</div>
        <div class="stat-value">1,200</div>
        <div class="stat-desc">↘︎ 90 (14%)</div>
      </div>
    </div>
  </div>
</div>

